/*переменные*/
:root {
  --link-button-blue-color: #2196f3;
  --moz-background-hero-foter-color: #2f303a;
  --heading-text-color: #212121;
  --text-color: #757575;
  --button-background-color: #f5f4fa;
  --logo-color: #000000;
  --border-header: #ececec;
  --text-fone: #ffffff;
  --add-link-color: rgba(255, 255, 255, 0.6);
  --border-card-list: #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-form-background: #188ce8;
  --link-color: #afb1b8;
}

/*общие стили*/
body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/

.header {
  border-bottom: 1px solid var(--border-header);
  min-height: 80px;
}

.header__container {
  display: flex;
}

.header-nav__container {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo {
  color: var(--link-button-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: var(--logo-color);
}

.header-nav,
.nav-list,
.contacts-list {
  display: flex;
}

.nav-list__item {
  margin-left: 50px;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.link-nav.current {
  color: var(--link-button-blue-color);
}

.link-nav.current::after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--link-button-blue-color);
  border-radius: 2px;
}

.link-nav {
  position: relative;

  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  transition: color 250ms var(--cubic);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--link-button-blue-color);
}

.contacts-list {
  margin-left: auto;
}

.contacts-list li:not(:last-child) {
  margin-right: 50px;
}

.link-header {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  padding-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms var(--cubic);
}

.link-header:hover,
.link-header:focus {
  color: var(--link-button-blue-color);
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*studio-main*/

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgraudfone.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--moz-background-hero-foter-color);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  text-align: center;
}

.hero__heading {
  color: var(--text-fone);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__botton {
  color: var(--text-fone);
  background-color: var(--link-button-blue-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  justify-content: space-between;

  text-align: left;
}

.features-list :not(:last-child) {
  max-width: 270px;
}

.features-list__item {
  margin-left: 30px;
}

.features-list_container {
  background-color: var(--button-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
}

.features-list__heading {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.direction {
  padding-bottom: 94px;
}

.direction__heading {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  text-align: center;
}

.direction__list {
  display: flex;
  justify-content: space-between;
}

.direction__item {
  position: relative;
}

.direction__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.direction__text {
  position: absolute;
  left: 25%;

  bottom: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-fone);
}

.team {
  background-color: var(--button-background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__head {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.list-icon__item:not(:last-child) {
  margin-right: 10px;
}

.list-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--link-color);
  border-radius: 50%;
}

.list-icon__link:hover,
.list-icon__link:focus {
  color: var(--text-fone);
  background: var(--link-button-blue-color);
}

.list-icon__icon {
  fill: currentColor;
}

.team-list__container {
  background-color: var(--text-fone);
  text-align: center;

  padding: 30px 32px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  color: var(--heading-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 10px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--heading-text-color);

  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--link-color);
  border: 1px solid var(--link-color);

  border-radius: 4px;

  transition: border 250ms var(--cubic), color 250ms var(--cubic);
}

.client-list__link:hover,
.client-list__link:focus {
  color: var(--link-button-blue-color);
  border: 1px solid var(--link-button-blue-color);
}

.client-list__icon {
  fill: currentColor;
}

/*portfolio*/

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.list-button__button {
  border-radius: 4px;
  border: none;
  color: var(--heading-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.list-button__button:hover,
.list-button__button:focus {
  background-color: var(--link-button-blue-color);
  color: var(--text-fone);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button__item:not(:last-child) {
  margin-right: 8px;
}

.work-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work-list__link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.work-list__link:hover,
.work-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.work-list__link:hover .thumb-container,
.work-list__link:focus .thumb-container {
  opacity: 1;
  transform: translateY(0);
}

.thumb-container {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--text-fone);
  padding: 63px 24px;
}

.work-container {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card-list);
  border-left: 1px solid var(--border-card-list);
  border-bottom: 1px solid var(--border-card-list);
}

.work-container__heading {
  color: var(--heading-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-container__text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*footer*/
.footer {
  background-color: var(--moz-background-hero-foter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.container-address {
  margin-right: 70px;
}

.logo-fot {
  color: var(--text-fone);
}

.logo-type {
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address__list {
  margin-top: 9px;
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__item:last-child {
  margin-bottom: 0;
}

.footer-address__maps {
  color: var(--text-fone);
}

.footer-address__link {
  color: var(--add-link-color);
  transition: color 250ms var(--cubic);
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--link-button-blue-color);
}

.social-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-fone);

  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  padding-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  color: var(--text-fone);

  transition: background 250ms var(--cubic);
}

.social-list__link:hover,
.social-list__link:focus {
  background: var(--link-button-blue-color);
}

.social-list__icon {
  fill: currentColor;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-fone);

  padding-bottom: 20px;
}

.footer-form__container {
  display: flex;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  border-radius: 4px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.footer-form__button {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: var(--text-fone);

  background: var(--link-button-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

/*modal*/

.modal {
  min-height: 521px;
  min-width: 528px;
  background-color: var(--text-fone);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  background-image: url(/images/Ellipse.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;

  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-icon {
  margin: 6px;
  fill: currentColor;
}

.modal-icon:hover,
.modal-icon:focus {
  color: var(--link-button-blue-color);
  transition: color 250ms var(--cubic);
}

.modal-form {
  padding: 40px;
}

.modal-form .modal-form-input:focus {
  border-color: var(--link-button-blue-color);
  transition: border-color 250ms var(--cubic);
}

.modal-form-input:focus + .icon-form {
  fill: var(--link-button-blue-color);
  transition: fill 250ms var(--cubic);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}

.input-container {
  position: relative;
}

.headin-modal-form {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-text-color);

  margin-bottom: 12px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);

  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 12px;
  padding-left: 42px;

  cursor: pointer;
  outline: none;
}

.modal-form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 16px;

  height: 120px;
  resize: none;

  cursor: pointer;
  outline: none;
}

.modal-form-textarea:focus {
  border-color: var(--link-button-blue-color);
  transition: border-color 250ms var(--cubic);
}

.modal-form textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}

.checkbox-container label {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--text-color);
  cursor: pointer;
  padding-left: 23px;
}

.checkbox-container a {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--link-button-blue-color);
  padding-left: 0 auto;
  padding-right: 0 auto;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-icon {
  border: 2px solid var(--heading-text-color);
  border-radius: 2px;

  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.check-icon use {
  display: none;
}

.checkbox:checked + .check-icon {
  border: none;
}

.checkbox:checked + .check-icon use {
  display: block;
}

.modal-button-form {
  font-size: 16px;
  line-height: 1.87;

  color: var(--text-fone);
  background-color: var(--link-button-blue-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 55px;
  cursor: pointer;
}

.modal-button-form:hover,
.modal-button-form:focus {
  background: var(--modal-button-form-background);
  transition: background 250ms var(--cubic);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-button-container {
  text-align: center;
}
